# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.egg
.Python

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Variables de entorno
.env*
!.env.example

# Testing
.pytest_cache/
.hypothesis/
.coverage
.coverage.*
htmlcov/
.tox/

# Docker
postgres_data/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# SO
.DS_Store
Thumbs.db
desktop.ini